




#main{
height:300px;
width:300px;
border:10px solid yellow;
position:relative;
top:100px;
left:500px;
background:green;
transition:3s;	
}


#main1{
height:300px;
width:300px;
border:10px solid yellow;
position:relative;
top:100px;
left:500px;
background:green;
}
#main2{
height:300px;
width:300px;
border:10px solid yellow;
position:relative;
top:100px;
left:500px;
background:green;
}
#main3{
height:300px;
width:300px;
border:10px solid yellow;
position:relative;
top:100px;
left:500px;
background:green;
}
#main4{
height:300px;
width:300px;
border:10px solid yellow;
position:relative;
top:100px;
left:500px;
background:green;
}
#main5{
height:300px;
width:300px;
border:10px solid yellow;
position:relative;
top:100px;
left:500px;
background:green;
}
#main6{
height:300px;
width:300px;
border:10px solid yellow;
position:relative;
top:100px;
left:500px;
background:green;
}

#main7{
height:300px;
width:300px;
border:10px solid yellow;
position:relative;
top:100px;
left:500px;
background:green;
}
#main8{
height:300px;
width:300px;
border:10px solid yellow;
position:relative;
top:100px;
left:500px;
background:green;
}



